body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: left;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

h2 { 
  margin: 0;
}



.container {
  width: 80vw;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-content: center;
  height: 50px;
  width: 100%;
  /* background: #eee; */
}

.siteTitle {
  line-height: 50px;
}

.searchInput {
  width: 100%;
  height: 50px;
  outline: none;
  font-size: 30px;
  margin: 20px 0;
  border-radius: 5px;
  border: none;
  padding-left: 20px;
}

.searchInput:hover {
  background: #eee
}

ul.results {
  margin: 0;
  padding: 0 20px;
}

.result {
  border-bottom: 1px solid #eee;
  transition: background 0.1s ease-in-out;
  padding-top: 20px;
}

.result:hover {
  background: #eee;
}