body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: left;
  color: #eee;
  background: #000;
}

h1 {
  font-size: 30px;
}

h2 { 
  margin: 0;
}



.container {
  width: 80vw;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-content: center;
  height: 50px;
  width: 100%;
  /* background: #eee; */
}

.siteTitle {
  color:  rgba(255, 255, 255, 0.25);
  padding: 20px;
}


.searchGroup {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.searchInput {
  width: 100%;
  height: 50px;
  outline: none;
  font-size: 30px;
  margin: 20px 0;
  border-radius: 5px;
  border: none;
  padding-left: 20px;
  background: #000;
  color: rgba(255, 255, 255, 0.25);
  transition: color 0.5s ease-in-out
}

.searchButton {
  background: #000;
  color: #fff;
  border: none;
  outline: none;
  transition: background 0.1s ease-in-out;
  font-family: inherit;
  font-size: 24px;
}

.searchButton:hover {
  background: white;
  color: black;
}

.searchInput:focus {
  color: rgba(255, 255, 255, 1);
}

ul.results {
  margin: 0;
  padding: 0 20px;
}

.result {
  border-bottom: 1px solid #eee;
  transition: background 0.1s ease-in-out;
  padding-top: 20px;
}

.result:hover {
  background: #eee;
}

.resultsGroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item {
  position: relative;
  max-height: 400px;
  overflow: hidden;
}

.itemDetails {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 0;
  padding: 20px;
  background: rgba(0,0,0,0.5);
  width: 100%;
  transition: visibility 0s, opacity 0.2s ease-in-out;
}


.item:hover .itemDetails {
  visibility: visible;
  opacity: 1;
}
.item img {
  width: 100%;
}
